<html>
    <head>
        <title>Filmes</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <h1>Filme Recomendado para o usuário:</h1>
           <p>  Usuários entre <strong> 1 e 610 </strong> </p> 
        <form action="/" method="GET">
            <label for="user_id">ID do usuário:</label>
            <input type="text" name="user_id" id="user_id" required>
            <input type="submit" value="Enviar">
        </form>
        {% if movie_title %}
        <p>O filme recomendado para o usuário {{ user_id }} é: {{ movie_title }}</p>
        {% endif %}
    </body>
</html>
